/*blocks/form.less*/
.form__group {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
}

.form__group--border-bottom {
  border-bottom: 1px solid #D9D9D9;
}

.form__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__list--info .form__item {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.form__list--info .form__item:not(:last-child) {
  margin-bottom: 14px;
}

.form__list--info .form__item:last-child {
  margin-bottom: 24px;
}

.form__list--programms .form__item:not(:last-child) {
  margin-bottom: 12px;
}

.form__list--programms .form__item:last-child {
  margin-bottom: 20px;
}

.form__list--contacts .form__item {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.form__list--contacts .form__item:not(:last-child) {
  margin-bottom: 14px;
}

.form__list--contacts .form__item:last-child {
  margin-bottom: 24px;
}

.form__list--extra .form__item:not(:last-child) {
  margin-bottom: 12px;
}

.form__item input[type=text] {
  margin-left: 8px;
  padding: 13px 15px;
  flex-grow: 1;
  border: 1px solid #E7E7E7;
}

.form__comment {
  padding: 9px 12px;
  border: 1px solid #E7E7E7;
}

.programm__annotation {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  text-align: center;
}
