/*blocks/form.less*/
.form__wrapper {
  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__wrapper .form__group {
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__group {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.form__wrapper-title {
  position: relative;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }
}

.form__title {
  width: max-content;
  background-color: #ffffff;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.form__title-word-wrapping {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  box-sizing: border-box;
}

.form__list--info {
  margin: 0;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__list--info .form__item {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.form__list--info .form__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.form__list--info .form__item:last-child {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form__list--programms {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
    padding: 25px 28px;
    border: 1px solid #E7E7E7;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding: 24px 28px;
  }
}

.form__list--programms .form__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.form__list--programms .form__item:last-child {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form__item {
  position: relative;
}

.form__icon-email {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

.form__icon-phone {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(0, -50%);
}

.form__title {
  margin-bottom: 35px;
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}

.form__title--extra {
  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
  }
}

.form__list--contacts {
  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__list--contacts .form__item {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.form__list--contacts .form__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__list--contacts .form__item:last-child {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.form__list--extra {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 28px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 105px;
    margin-bottom: 66px;
  }
}

.form__list--extra .form__item:not(:last-child) {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.form__item input[type="text"] {
  //flex-grow: 1;
  padding: 13px 15px;
  padding-right: 50px;
  line-height: 18px;
  border: none;
  outline: 1px solid #e7e7e7;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    outline-color: #cdcdcd;
  }


  &:focus {
    outline: 2px solid #444444;

    & + .form__icon-email {
      stroke: #68B738;
    }
  }

  &.error {
    outline: 2px solid #ff8282;
  }

  @media (min-width: @tablet-width) {
    padding: 11px 19px;
    line-height: 30px;
  }
}

input[type="text"] {
  &:focus + .form__icon-email {
    stroke: #68B738;
  }

  &:focus + .form__icon-phone {
    fill: #68B738;
  }

  &.error + .form__icon-email {
    stroke: #FF8282;
  }

  &.error + .form__icon-phone {
    fill: #FF8282;
  }
}

.form__item label {
  width: max-content;
  padding-right: 11px;
  flex-shrink: 0;
}

.form__comment {
  width: 100%;
  padding: 9px 12px;
  resize: none;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 174px;
    margin-bottom: 65px;
    padding: 10px 19px;
    box-sizing: border-box;
  }
}

.form__button-wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 28px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 82px;
  }
}

.form__button {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 13px;
    width: 282px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__wrapper-textarea {
  padding: 0 20px;
}
