/*blocks/manual.less*/
.manual__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px 49px 20px;
  box-sizing: border-box;
}

.manual__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manual__item {
  padding-left: 80px;
}
