/*blocks/page-main.less*/
.page-main {
  flex-grow: 1;
}


.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-main__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
