/*blocks/page-footer.less*/
.page-footer__wrapper-contacts {
  width: 320px;
  margin: 0 auto;
  padding: 26px 20px 26px 20px;
  box-sizing: border-box;
}

.page-footer__contacts {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.page-footer--secondary-page {
  background-color: #F2F2F2;
}

.page-footer__contacts-content {
  max-width: 50%;
}

.page-footer__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.page-footer__address {
  margin: 0;
  line-height: 20px;
}

.page-footer__wrapper-background {
  background-color: #F2F2F2;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-footer__map-image {
  display: block;
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.page-footer__item:not(:last-child) {
  border-bottom: 1px solid #D9D9D9;
}

.page-footer__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
}
