.page-header {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: grid;
    grid-template-columns: 268px 440px;
    margin-bottom: 65px;
    padding: 24px 30px 0px 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin-bottom: 82px;
    padding: 0;
    grid-template-rows: 112px auto;
    grid-template-columns: 720px 720px;
  }
}

.page-header__wrapper {
  display: flex;
  padding: 10px 20px 17px 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    padding: 0;
    justify-content: left;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 53px;
    margin-left: 110px;
    margin-right: 12px;
  }
}

.page-header__logo {
  @media (min-width: @tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 14px;
  }
}

.main-nav__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header--secondary-page {
  border-bottom: 1px solid #D9D9D9;
}
