/*blocks/present.less*/
.present {
  position: relative;
  margin: 35px 0;

  @media (min-width: @tablet-width) {
    margin: 69px 0 76px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.present::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(104, 183, 56, 0.85);
}

.present__image {
  display: block;

  @media (min-width: @tablet-width) {
    height: 200px;
  }
}

.present__text {
  margin: 0;
  position: absolute;
  top: 187px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;

  @media (min-width: @tablet-width) {
    top: 71px;
    left: 422px;
    transform: translateX(0);
    width: 161px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
