/*blocks/product-card.less*/
.product-card {
  display: grid;
  grid-template-rows: 19px auto 14px auto 25px;
  grid-template-columns: 20px minmax(140px, 1fr) minmax(140px, 1fr) 20px;
  border-bottom: 1px solid #EBEBEB;

  @media (min-width: @tablet-width) {
    grid-template-rows: 73px 127px auto auto auto;
    grid-template-columns: 38px minmax(248px, 1fr) 40px;
    background: linear-gradient(#ffffff, #ffffff 73px, #F2F2F2 73px, #F2F2F2 100%);
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 80px 120px auto auto auto;
    grid-template-columns: 41px 166px 38px;
    background: linear-gradient(#ffffff, #ffffff 80px, #F2F2F2 80px, #F2F2F2 100%);
    border-bottom: none;
  }
}

.product-card:first-child {
  border-top: 1px solid #EBEBEB;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.product-card__image {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.product-card__image--small {
  @media (min-width: @tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.product-card__image--big {
  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
  }
}

.product-card__text {
  grid-column: 3/4;
  grid-row: 2/3;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    margin-bottom: 33px;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.product-card__title {
  width: 100px;
  margin: 0;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__title--more {
  margin: 0;
  margin-top: 78px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 150px;
    margin-top: 161px;
    margin-bottom: 23px;
  }
}

.product-card__list {
  margin: 0;
}

.product-card__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #CDCDCD;
  }
}

.product-card__item:first-child {
  @media (min-width: @tablet-width) {
    padding-top: 0;
  }
}

.product-card__term,
.product-card__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.product-card__term--more {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: 167px;
    margin-bottom: 87px;
    text-align: center;
  }
}

.product-card__button {
  grid-column: 2/4;
  grid-row: 4/5;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-bottom: 39px;
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 39px;
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__button--more {
  width: 100%;
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:focus {
    outline: 1px solid #000000;
    border-radius: 1px;
    outline-offset: -1px;
  }

  &:focus .button-text--more {
    opacity: 0.3;
  }

  &:active .button-text--more {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.product-card__more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/4;
  grid-row: 2/5;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

    @media (min-width: @tablet-width) {
      top: 82px;
      width: 60px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;

    @media (min-width: @tablet-width) {
      top: 52px;
      height: 60px;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: 1/4;
    grid-row: 2/6;
    padding-left: 38px;
    padding-right: 38px;
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    background: #ffffff;
  }
}
