/*blocks/programm.less*/
.programm__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.programm__title {
  margin-top: 27px;
  margin-bottom: 37px;
}

.programm__instruction {
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.programm__form {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form__title {
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.programm__annotation {
  line-height: 16px;
  color: #000000;
}
