/*blocks/promo.less*/
.promo {
  width: 320px;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin-top: 50px;
    grid-column: 1/3;
    text-align: left;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width * 0.5;
    grid-column: 1/2;
    margin-top: 0;
  }
}

.promo__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/promo-background.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    width: 500px;
    margin-left: 87px;
    margin-right: 87px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 111px;
    margin-left: 190px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 87px;
    margin-right: 87px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
    margin-right: 10px;
    margin-bottom: 52px;
  }
}

.promo__image {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: -82px;
    left: 558px;
  }
}

.promo__button {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 230px;
    left: 90px;
    width: auto;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 190px;
  }
}
