/*blocks/promo.less*/
.promo {
  width: 320px;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}

.promo__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/promo-background.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
}
