/*global/global.less*/
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
	font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
	font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #FFFFFF;

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.heading-level-second {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.button {
  display: inline-block;
  min-width: 280px;
  padding: 11px 7px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  color: #FFFFFF;
  text-align: center;
  background-color: #68B738;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &:hover .button-text {
    opacity: 0.6;
  }

  &:focus {
    outline: 1px solid #000000;
    border-radius: 1px;
    outline-offset: -1px;
  }

  &:focus .button-text {
    opacity: 0.3;
  }

  &:active .button-text {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    min-width: 248px;
  }

  @media (min-width: @desktop-width) {
    min-width: 168px;
  }
}

input[type="text"]::-webkit-input-placeholder,
textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    vertical-align: middle;
  }
}
